@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');




body{
    margin: 0;
    background-color:  #F8F8FF;
}

header{
    height: 70px;
    background-color: #10e7dc;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom-right-radius: 1rem;
    font-family: 'Lacquer', cursive;

}

.logo{
    font-size: 2.5rem;
}

.nav{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav li {
 border-left: 3px solid black;
 padding: 1.2rem;
 font-size: 1.2rem;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.deal-wrapper{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.deal-content {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
    height: 150px;
    margin-left: 1rem;
    background-color: #1b9ce5;
    border-radius: 1rem;
    padding: 0.5rem; 
}

.deal-image{

    margin-left: 1rem; 
    width: 125px;
    height: 100px;
    border-radius: 1rem;
}


.deal-content h1 {    /* title */
    flex: 1; 
    font-size: 35px;
    margin-left: 2rem;
}


.deal-content h4 {     /* price */
    font-size: 35px;
    margin-right: 2rem; 
}